* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  

body {
    margin: 35px 55px;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 60px;
}

p {
    font-weight: 300;
    font-size: 18px;
    color: lightgray;
    
}
hr{
    width: 8%;
}

#error-msg {
    color: brown;
    margin: 20px 0px 20px 0px;
}



.btn {
    border-radius: 0px;
    border: 1px solid lightgray;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.clr-btn{
    background-color: black;
    color: aliceblue;
}

